:root {
    --primary-color: #f5a623;
    --dark-bg: #000000;
    --text-dark: #111111;
    --text-light: #ffffff;
    
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--text-dark);
    line-height: 1.6;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.text-center { 
    text-align: center; 
}

.text-primary { 
    color: var(--primary-color) !important; 
}

.grid-2 { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px; 
}

.grid-3 { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}

.align-center { 
    align-items: center; 
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-dark);
}

.btn-primary:hover {
    background-color: #e0961f;
}


/* Hero Section */
.about-hero {
    position: relative;
    height: 65vh;
    background: url('https://images.unsplash.com/photo-1542038784456-1ea8e935640e?auto=format&fit=crop&w=1920&q=80') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: rgba(100, 110, 120, 0.4); 
}

.about-hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
}

.about-hero h1 {
    font-family: var(--font-heading);
    font-size: 4rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
}

.about-hero p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
}

/*    Our Approach Section */
.approach-section {
    padding: 100px 0;
}

.approach-text h2 {
    font-family: var(--font-heading);
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.approach-text p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #111;
    margin-bottom: 15px;
}

.approach-image {
    margin-top: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;

}

.approach-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 4px;
}

/* Meet the Team Section */

.team-section {
    background-color: #e8e8e8; 
    padding: 100px 0;
}

.section-header {
    margin-bottom: 60px;
}

.section-header h2 {
    font-family: var(--font-heading);
    font-size: 4rem;
    color: #111111;
    margin-bottom: 15px;
    font-weight: 500;
}

.section-header p {
    font-family: var(--font-body);
    font-size: 1.15rem;
    color: #777777;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 300;
}

.team-grid {
    gap: 40px; 
}

.team-member {
    display: flex;
    flex-direction: column;
}

.team-image {
    width: 100%;
    margin-bottom: 30px;
}

.team-image img {
    width: 100%;
    height: 650px; 
    object-fit: cover;
    display: block;
}

/* Text Content Styling */
.team-info h3 {
    font-family: var(--font-heading);
    font-size: 2.2rem;
    color: #111111;
    margin-bottom: 5px;
    font-weight: 500;
}

.team-title {
    display: block;
    font-family: var(--font-body);
    font-size: 0.85rem;
    color: #888888;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 400;
}

.team-info p {
    font-family: var(--font-body);
    font-size: 1.05rem;
    color: #060606;
    line-height: 1.7;
    font-weight: 300;
}


/* Our Equipment Section */
.equipment-section {
    padding: 100px 0 60px;
    background-color: #ffffff;
}

.text {
    text-align: left;
    margin-bottom: 60px;
}

.text-primary {
    font-family: var(--font-heading);
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}


.equipment-grid {
    gap: 30px;
}

.equipment-card {
    background-color: #e8e8e8;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eq-category {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 10px;
}

.equipment-card h3 {
    font-size: 1.3rem;
    font-family: var(--font-body);
    font-weight: 500;
    color: #222;
}

/*   Core Values Section */
.core-values {
    padding: 40px 0 100px;
    background-color: #ffffff;
}

.value-item i {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.value-item h3 {
    font-family: var(--font-heading);
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.value-item p {
    font-family: var(--font-heading);
    font-size: 1rem;
    color: #444;
}

/*    Responsive Styles  */
@media (max-width: 992px) {
    .grid-2 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .approach-image img {
        height: auto;
    }

    .team-card {
        height: 400px;
    }

    .equipment-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 992px) {
    .team-grid {
        grid-template-columns: 1fr; 
        gap: 60px;
    }

    .team-image img {
        height: 500px; 
    }
    
    .section-header h2 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }

    .about-hero h1 {
        font-size: 3rem;
    }

    .equipment-grid {
        grid-template-columns: 1fr;
    }

    .core-values .grid-3 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .team-circle {
        width: 200px;
        height: 200px;
    }
    
    .text-circle {
        font-size: 5rem;
    }
}